*{
    margin : 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(270deg, rgb(176, 90, 10), rgb(54, 44, 27));
    height: 100vh;
}

#one{
    color: rgb(6, 4, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 70vh;
    width: 50vh;
    background-color:rgb(150, 4, 163);
    box-shadow: 20px -80px 40px 20px rgb(59, 31, 6),
                20px 80px 40px 20px rgb(59, 31, 6);
    transition: transform .2s;
    z-index: 2;
}

#two{
    color : rgb(59, 55, 137);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height : 90vh;
    width: 60vh;
    background-color: rgb(6, 4, 45);
    box-shadow: 0px -80px 40px 20px rgb(15, 8, 99),
                0px  80px 40px 20px rgb(15, 8, 99);
    transition: transform .2s;
    z-index: 3;

}

#three{ 
    color: rgb(6, 4, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 70vh;
    width: 50vh;
    background-color:rgb(150, 4, 163);
    box-shadow: 20px -80px 40px 20px rgb(174, 56, 5) , 
                20px 80px 40px 20px rgb(174, 56, 5);
    transition: transform .2s;
    z-index: 2;

}

.luffy{
    width : 30vh;
}

.zoro{
    width : 20vh;
}

.sanji{
    width : 30vh;
}

.texte{
    margin: 20px;
}

#one:hover{
        transform: scale(1.1); 
}

#two:hover{
    transform: scale(1.1);
}

#three:hover{
    transform: scale(1.1);

}